<div
  class="text-center d-flex flex-wrap justify-content-center align-items-center"
>
  <h1 class="display-3 mb-0" style="font-weight: 500">OOps...</h1>
  <img
    width="300px"
    src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg"
    alt="404"
  />
  <p class="display-6 bg-secondary p-3 rounded mx-5" style="color: white">
    <%= Error %>
  </p>
</div>
